.project_body {
    width: 90%;
    /* background-color: rgba(0,0,0,0.2); */
    padding: 2% 0%;
}



.project_parts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f6d6c9; */
    margin: 1% 0%;
    width: 100%;
    border-radius: 20px;
}

.project_img_box {
    width: 40%;
}

.project_part_content {
    width: 50%;
}


.project_part_title_box {
    width: 90%;
    background-color: #f8f4f0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 20px;
    border-style:solid;
}

#banner_box_p {
    width: 100%;
    text-align: center;
}

.project_parts_title {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.project_part_content {
    width: 55%;
    background-color: rgba(0,0,0,0.3); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border-radius: 20px;

}



.project_parts_text {
    width: 90%;
    margin-top: 3%;
}


